
.hidden-time-update {
  display: none;
}

/*
    Custom CSS to stay consistent with old & new non standard components
*/
.sortable thead th a,
.sortable thead th a:focus,
.sortable thead th a:hover {
  background-color: transparent;
  border-width: 0;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
  color: #005ea5;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding: 0 10px 0 0;
  position: relative;
  text-align: inherit;
  font-size: 1em;
}

.sortable thead th a:before {
  content: " \25bc";
  position: absolute;
  right: -2px;
  top: 10px;
  font-size: 0.5em;
}

.sortable thead th a:after {
  content: " \25b2";
  position: absolute;
  right: -2px;
  top: 1px;
  font-size: 0.5em;
}

.sortable thead th.ascending a:before,
.sortable thead th.descending a:after {
  display: none;
}

.sortable thead th {
    padding: 10px 9px 10px 0;
}

.notifications-panel {
  border-color: #2b8cc4;
  border-left-width: 10px;
  background-color: #eaf4f9;
  box-sizing: border-box;
  clear: both;
  border-left-style: solid;
  padding:1em 1em .5em 1em;
  margin-bottom: 40px
}

.filter-search {
  width: 40px;
  height: 40px;
  border: none;
  overflow: hidden;
  text-indent: -5000px;
  color: #fff;
  background-color: #2b8cc4;
  background-repeat: no-repeat;
  background-position: 80% 50%;
  position: absolute;
  box-shadow:none;

  &:hover {
    background-color: #2b8cc4;
  }
}

.search-box.form-control {
  width: 86%;
  height: 29px;
  padding: 5px 4px 4px;
  border: 1px solid #bfc1c3;
  display: inline-block;
}

.sign-out-link {
    float: right;
    color: white;
    text-decoration: none;
    font-weight: 700;
    line-height: 23px;
}

@media (min-width: 641px) {
    .sign-out-link {
        line-height: 30px;
    }
}

.govuk-panel--details {
    text-align: left;
    padding: 0.78947em;
    border: 0 none;
    background-color: $alabaster;
}

.search-results {
    &__item {
        display: flex;
    }
    &__term {
        width: 40%;
        float: left;
        margin-bottom: 0.25em;
    }
}

.limit-remaining {
    border-top: 1px solid $silver-sand;
    margin-top: 20px;
    padding-top: 20px;
}

.filter-wrapper {
    margin-bottom: 1rem;
}
.options-container {
    border: 5px solid #dee0e2;
    position: relative;
    background-color: #fff;
    label {
        display: block;
        padding: 7px;
        border-bottom: 1px solid #bfc1c3;
        cursor: pointer;
        font-weight: normal;
        width: 90%;
        font-size: 0.9em;
        margin: 5px 0 0 0;
        &:last-child {
            border: none;
        }
    }
    &:hover {
        border: 5px solid #BFC1C3;
        .filter-head-container {
            background: #BFC1C3;
        }
    }
}
.filter-head-container {
    background-color: #dee0e2;
}

.filter-head {
    z-index: 100;
    position: relative;
    border: none;
    display: block;
    width: 95%;
    text-align: left;
    cursor: pointer;
    margin-bottom: -1px;
    padding: 5px 8px;
    font-weight: bold;
}

// confirmation page
.govuk-panel__title {
    &--confirmation {
        margin-bottom: 0;
        padding: 25px 0;
    }
}

.align-right {
  text-align: right;
}

.amount {
  text-align: right !important;
  white-space: nowrap;
}

//  unbold the the inherited th's in the table that help improve accessibility but don't need to be bold
th.govuk-table__cell.date,
th.govuk-table__cell.movement-reference-number {
  font-weight: 400;
}

th.govuk-table__header.govuk-table__cell--numeric {
  font-weight: 700;
}
// .govuk-table__header {

  th.govuk-table__header {
    padding: 10px 35px 10px 0px !important;

    &:last-child {
      padding: 10 0 10 50px !important;
    }
  }
  
// }
.govuk-table__cell.account-credited:last-child {
  border-right: 5px solid govuk-colour("light-green");
  padding-right: 5px;
}

.pending-cash-transactions {
  color: govuk-colour("dark-grey");
}

.govuk-panel__heading--span {
  display: inline-block;
  width: 40%;
  margin-right: 40px;
}
