/*
    Custom CSS to stay consistent with old & new non standard components
*/
.amount {
  text-align: right !important;
  white-space: nowrap;
}

.inline-button {
    margin-left: 3px;
}

.pagination__results {
  @include govuk-font(19);
  margin-top: 0;

  @include govuk-media-query($from: desktop) {
    margin-bottom: govuk-spacing(3);
    vertical-align: middle;
  }
}
