.custom-card {
    @extend %contain-floats;
    border: 1px solid #bfc1c3;
    padding: 12px;
    margin: 30px 0;
    &__balance {
        margin: 16px 0 8px 0;
    }
    &__balance-amount {
        font-size: 40px;
        font-weight: 700;
        &--negative {
            color: govuk-colour("red");
        }
    }
    &__balance-text {
        font-size: 24px;
        font-weight: 700;
    }
}

.card-main {
        @extend %contain-floats;
}

.card-direct-debit {
    border-top: 1px  solid #b1b4b6;
    padding-top: 20px;
}

.card-header {
    display: flex;
    &__status {
        margin: 0 0 10px auto;
    }
    border-bottom: 1px  solid #b1b4b6;
}

.card-footer {
    margin: 15px 0;
    font-size: 1rem;
    color: $rolling-stone;
    @include govuk-media-query($from: desktop) {
        font-size: 1.1875rem;
    }
    &__links {
        float: left;
    }
    &__limit {
        float: right;
    }
}

.account-status-open {
}

.account-status-suspended {
    @extend .govuk-tag--yellow;
}

.account-status-closed {
    @extend .govuk-tag--grey;
}

.account-balance-status-open {
}

.account-balance-status-suspended {
}

.account-balance-status-closed {
    color: #939393;
}
