$mobile: 768px; //change this to suit your content
$color_hmrc-grey-4: #b1b4b6;

.hmrc-responsive-table {
  margin-bottom: 0;
  min-width: 100%;
  border-collapse: collapse;

  thead {
    white-space: nowrap;
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    display: table-header-group;
    position: relative;
    font-size: 16px;
  }

  tbody {
    tr {
      margin-bottom: 1.5em;
      display: table-row;

      th {
        justify-content: space-between;
        text-align: left;
        display: table-cell;
        white-space: nowrap;

        @media (max-width: $mobile) {
          font-size: 16px;
        }
      }

      td {
        justify-content: space-between;
        min-width: 1px;
        display: table-cell;
        text-align: left;
        white-space: nowrap;
        
        @media (max-width: $mobile) {
          font-size: 16px;
        }
      }
    }
  }
}

.hmrc-responsive-table__heading {
  display: none;
}

.hmrc-responsive-table__data--wrap-mobile {
  @media (max-width: $mobile) {
    word-break: break-all;
  }
}

.hmrc-responsive-table__data--wrap-desktop {
  @media (min-width: $mobile) {
    word-break: break-all;
  }
}

.hmrc-reponsive-table__numeric {
  @media (min-width: $mobile) {
    text-align: right;
  }
}

.hmrc-responsive-table__container {
  overflow-x: auto;
  width: 100%;
}

.table-foot {
  border-bottom: 1px solid #b1b4b6;
  display: flex;
  font-size: 19px;
  font-weight: 700;
  justify-content: space-between;
  padding: 0.75em 0 0.75em;
}