/*
    Custom CSS to stay consistent with old & new non standard components
*/
.amount {
  text-align: right !important;
  white-space: nowrap;
}

.inline-button {
    margin-left: 3px;
}

.notifications-panel {
  border-color: #2b8cc4;
  border-left-width: 10px;
  background-color: #eaf4f9;
  box-sizing: border-box;
  clear: both;
  border-left-style: solid;
  padding:1em 1em .5em 1em;
  margin-bottom: 40px
}
