$govuk-assets-path: "/customs/cash-account/assets/lib/govuk-frontend/govuk/assets/";
$hmrc-assets-path: "/customs/cash-account/assets/lib/hmrc-frontend/hmrc/";

$govuk-suppressed-warnings: (libssl);

@import "lib/govuk-frontend/dist/govuk/base";

